In [5]:
import cx_Oracle
import pandas as pd

In [6]:
dsn = cx_Oracle.makedsn('localhost',1521,'xe')
conn = cx_Oracle.connect('ORA_USER','1234',dsn)

DatabaseError: ORA-12541: TNS:no listener

In [ ]:
# db연결확인 
if conn:
    print("Oracle DB 연결 성공")
else:
    print("Oracle DB 연결 실패")
    exit(100)

Oracle DB 연결 성공

In [14]:
cur = conn.cursor()

In [39]:
exx = pd.read_csv('./csv/T1101_005930_20240109.csv')
exx= exx.iloc[:,1:]

In [40]:
exx

,date,time,open,high,low,close,jdiff_vol,value,jongchk,rate,sign
0,20231012,132300,10560,10570,10560,10560,1110,12,0,0.0,2
1,20231012,132400,10560,10570,10560,10560,999,11,0,0.0,2
2,20231012,132500,10560,10570,10560,10560,547,6,0,0.0,2
3,20231012,132600,10560,10580,10560,10580,4414,47,0,0.0,2
4,20231012,132700,10570,10580,10570,10570,278,3,0,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...
495,20231013,151700,10530,10540,10530,10530,1744,18,0,0.0,5
496,20231013,151800,10530,10550,10530,10550,2018,21,0,0.0,5
497,20231013,151900,10540,10550,10540,10550,870,9,0,0.0,5
498,20231013,152000,10550,10590,10540,10540,8191,87,0,0.0,5
499,20231013,153000,10550,10550,10550,10550,41854,442,0,0.0,5

In [46]:
df_list = exx.values.tolist()
cur.executemany("INSERT INTO exxx VALUES (:1,:2,:3,:4,:5,:6,:7,:8,:9,:10,:11)",
            df_list, batcherrors = True)

In [49]:
cur.execute("commit")

# 들어간 갯수 확인
cur.execute('select count(*) from exxx ')
cur.fetchone()

(1000,)

In [44]:
cur.execute("commit")