In [ ]:
dir({'a':1}) # list 안에 있는 메소드 표기

In [10]:
# filter(func, iterable)
def positive(x):
    return x > 0 # return value boalen 이어야 한다.
list(filter(positive, [1,-3,2,0,-5,6]))

[1, 2, 6]

In [11]:
list(filter(lambda x:x>0, [1,-3,2,0,-5,6]))

[1, 2, 6]

In [13]:
a = input()
a

'lkjflksdjflsdjflsjdljfljsdlkjf'

In [14]:
b = input('Enter:')

In [16]:
[1,2].__len__() #

2

In [17]:
def two_times(numberList):
    result = []
    for number in numberList:
        result.append(number*2)
        
    return result

In [18]:
two_times([1,2,3,4])

[2, 4, 6, 8]

In [19]:
def two_times(x):
    return x * 2

In [21]:
list(map(two_times, [1,2,3,4]))

[2, 4, 6, 8]

In [22]:
list(map(lambda x:x*2, [1,2,3,4]))

[2, 4, 6, 8]

In [24]:
a = [3,1,2]
result = a.sort()
print(result, a)

None [1, 2, 3]

In [25]:
a = [3,1,2]
result = sorted(a)
print(result, a)

[1, 2, 3] [3, 1, 2]

In [27]:
name = ['홍길동','고길동']
kor = [100,90]
eng = [100,90]
mat = [100,90]

for n,k,e,m in zip(name, kor, eng,mat):
    print(n,k,e,m)

홍길동 100 100 100
고길동 90 90 90